body{
  margin: 0;
  max-width: 100vw;
  padding: 10px;
}
.report_container{
  width: 90%;
}
.reports {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.report_calendar {
  background: #9130db;
  color: white;
  width: 25%;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}
.report_calendar_picker::-webkit-calendar-picker-indicator {
  opacity: 1;
  display: block;
  background: url(https://cdn.shopify.com/s/files/1/0522/7020/3059/files/arrow.png?v=1637577853) no-repeat;
  transform: rotate(90deg);
  background-size: cover;
  width: 10px;
  height: 10px;
  filter: invert(1);
  cursor: pointer;
}
.report_calendar_picker{
  border: none;
  background-color: #9130db;
  color: white;
}
.report_calendar_picker:focus{
  outline: none;
}
.report_column {
  background-color: #f8dde2;
  text-align: center;
  padding: 10px;
}
.report_header_heading {
  background-color: #2b2b72;
  color: white;
  width: 75%;
  padding: 20px;
}
.report_header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.report_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#report_heading1 {
  width: 23%;
}
#report_heading2 {
  width: 34%;
}
#report_heading3 {
  width: 11%;
}
#report_heading4 {
  width: 25%;
}
.report_element {
  background-color: white;
  margin-bottom: 5px;
  padding: 0px 2px;
}
.report-element_count {
  font-size: 1.3em;
  margin: 0;
  margin-bottom: 18px;
}
.report-element_heading {
  margin-bottom: 5px;
  font-size: 12px;
}
.report_selectors {
  background-color: pink;
  display: flex;
  justify-content: space-around;
  padding: 14px;
}
.dropbtn {
  background-color: white;
  color: black;
  padding: 8px 14px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  width: 250px;
  display: flex;
  justify-content: space-between;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 250px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}
.showDropdown {
  display: block;
}
.dropdown_arrow {
  height: 14px;
  width: 14px;
  transform: rotate(90deg);
}
.report_element1 {
  width: 47%;
}
.report_element2 {
  width: 31%;
}
.report_element3 {
  width: 100%;
}
.report_brandwise_table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.report_table-data {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 4px;
  font-size: 12px;
}

tr:nth-child(odd) {
  background-color: #c9e6f1;
}
.report_table_header {
  background-color: black !important;
  color: white;
  font-size: 14px;  
  font-weight: 500;
}
.report_brandwise_table_container {
  width: 100%;
  height: fit-content;
  overflow: scroll;
  overflow-y: auto;
}
.table_data{
  width: 80px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.table_brand{
  width: 130px;
}
.report-element_count_4{
  margin: 0;
}
.report-element_heading4{
  margin-top: 10px;
}
@media screen and (max-width: 1100px) {
  #report_heading1{
    width: 21%;
  }
  #report_heading2{
    width: 33%;
  }
  #report_heading3{
    width: 10%;
  }
  #report_heading4{
    width: 26%;
  }
  .report-element_count{
    font-size: 1.2em;
  }
  .dropbtn{
    width: 230px;
  }
}
@media screen and (max-width: 880px) {
  body{
    padding: 0;
  }
  .report_container{
    width: 100%;
  }
  .report-element_count{
    font-size: 1em;
  }
  .report_element1, .report_element2, .report_element3{
    width: 100%;
    overflow: hidden;
    height: 72px;
  }
  .report_header_heading{
    width: 52%;
  }
  .report_calendar{
    width: 38%;
  }
  .report_column{
    padding: 10px 6px;
  }
  .report_selectors{
    padding: 7px 0px;
    width: 100%;
  }
  .dropbtn{
    width: 100px;
  }
  #report_heading1, #report_heading2,#report_heading3, #report_heading4{
    width: 22%;
  }
  .report_column_heading{
    height: 40px;
  }
  .report_calendar_picker::-webkit-calendar-picker-indicator{
    width: 2px;
    height: 2px;
  }
}