body{
  margin: 0;
  max-width: 100vw;
  font-family: sans-serif;
}
.table_header{
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #efefef;
  color: #343434;
  padding: 20px;
  font-weight: 500;
}
.report_container{
  width: 90%;
}
.reports {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #f8f8f8;
}
.report_calendar {
  width: 17%;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}
.report_column {
  padding: 20px;
}
.report_header_heading {
  color: #343434;
  width: 70%;
  padding: 20px;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 0;
}
.report_header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #f8f8f8;
}
.report_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.report_column_heading{
  font-size: 16px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 20px;
}
#report_heading1 {
  background-color: #ebf4ff;
  width: 27%;
  border: 1px solid #2f90ed;
  border-radius: 8px;
}
#report_heading2 {
  width: 27%;
  background: #fff2e2ad;
  border: 1px solid #ffa800;
  border-radius: 8px;
}
#report_heading3 {
  width: 15%;
  background: #ee7a8333;
  border: 1px solid #d81222;
  border-radius: 8px;
}
#report_heading4 {
  width: 15%;
  background: #19d81222;
  border: 1px solid #2cb67d;
  border-radius: 8px;
}
.report_element {
  background-color: white;
  margin-bottom: 3.2%;
  padding: 0px 12px;
  width: 135px;
  border-radius: 8px;
}
.report-element_count {
  font-size: 26px;
  margin: 0;
  color: #343434;
  margin-bottom: 18px;
}
.report-element_heading {
  margin-bottom: 5px;
  font-size: 14px;
  color: #979797;
}
.report_selectors {
  display: flex;
  padding: 14px;
}
.dropbtn {
  background-color: white;
  color: black;
  font-size: 14px;
  border: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  border: 1px solid #efefef;
  border-radius: 8px;
}
.dropdown {
  position: relative;
  display: inline-block;
  width: 510px;
  border-radius: 8px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 510px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: 292px;
  overflow: scroll;
  overflow-x: hidden;
}

.dropdown-content a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropdown a:hover {
  background-color: #ddd;
}
.showDropdown {
  display: block;
}
.dropdown_arrow {
  height: 14px;
  width: 14px;
  transform: rotate(90deg);
}
.dropbtn1_after{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.report_element1, .report_element2 {
  width: 42%;
}
.report_element3 {
  width: 100%;
  margin-bottom: 5%;
}
.report_element4 {
  width: 100%;
}
.report_brandwise_table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.report_table-data {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 18px 20px;
  background-color: white;
}
.report_table_header {
  background-color: #efefef !important;
    color: #343434;
  font-size: 14px;  
  font-weight: 500;
}
.report_brandwise_table_container {
  width: 100%;
  height: fit-content;
  overflow: scroll;
  overflow-y: auto;
}
.table_data{
  width: 80px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
th {
  cursor: pointer;
}
.table_brand{
  width: 130px;
}
.report-element_heading4{
  margin-top: 10px;
}
.brand_input{
  outline: none;
  border: none;
  border-bottom: 1px solid #efefef;
}
.selective_dropdown{
  height: fit-content;
}
.date_picker{
  border: none;
  background: none;
  outline: none;
  width: 95%;
  text-align: right;
}
@media screen and (max-width: 1300px){
  #report_heading1, #report_heading2{
    width: 26.5%;
  }
  #report_heading3,#report_heading4{
    width: 14.5%;
  }
  .report_element1, .report_element2 {
    width: 41%;
  }
  .report-element_count{
    font-size: 1.7vw;
  }
}
@media screen and (max-width: 1100px) {
  #report_heading1,#report_heading2{
    width: 29%;
  }
  .report_element1, .report_element2 {
    width: 40%;
  }
  #report_heading3, #report_heading4{
    width: 10.5%;
  }
  .report-element_count{
    font-size: 1.2em;
  }
  .report_element3{
    margin-bottom: 7%;
  }
  .report-element_heading{
    font-size: 1.1vw;
  }
  .report-element_count{
    font-size: 1.4vw;
  }
}

@media screen and (max-width: 880px) {
  body{
    padding: 0;
  }
  .reports{
    overflow: scroll;
    padding-right: 10px;
  }
  .report_header{
    padding: 20px;
    padding-bottom: 0;
    width: auto;
  }
  .report_container{
    width: 100%;
  }
  .report-element_heading{
    font-size: 0.8em;
  }
  .report-element_count{
    font-size: 1em;
  }
  .report_element2, .report_element1{
    width: 38%;
  } 
  .report_element3, .report_element4{
    width: 100px;
    overflow: hidden;
  }
  .report_header_heading{
    width: 34%;
    font-size: 18px;
    padding: 0;
  }
  .report_calendar{
    width: 63%;
    padding: 0;
  }
  .report_column{
    padding: 20px;
    margin-right: 10px;
  }
  .report_selectors{
    padding: 7px 0px;
    width: 100%;
  }
  .dropbtn{
    width: 100%;
  }
  #report_heading2,#report_heading1{
    min-width: 250px;
  }
  
  #report_heading3, #report_heading4{
    width: auto;
  }
  .report_column_heading{
    height: 40px;
  }
  /* .report_calendar_picker::-webkit-calendar-picker-indicator{
    width: 2px;
    height: 2px;
  } */
  .report_calendar_picker{
    font-size: 11px;
    margin-right: 5px;
  }
  .report_calendar_picker::-webkit-calendar-picker-indicator {
    opacity: 1;
    display: block;
    background: url(https://cdn.shopify.com/s/files/1/0522/7020/3059/files/arrow.png?v=1637577853) no-repeat;
    transform: rotate(90deg);
    background-size: cover;
    width: 2px;
    height: 8px;
    filter: invert(1);
    cursor: pointer;
  }
  .dropdown{
    margin: auto;
    width: 80%;
  }
  .dropdown-content{
    min-width: 100%;
  }
}